img {
    width: 100%;
    height: 100%;
}

button {
    border: 2px solid black;
    cursor: pointer;
    width: 80px;
    height: 35px;
    box-shadow: 4px 4px 7px black;
}

#nasaImage {
    width: 50%;
    height: 50%;
    display: inline-block;
    margin-top: 50px;
}

#button {
    top: 10px;
    position: absolute;
    left: 58%;
}

#container {
    display:flex;
    background-color: honeydew;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

#map {
    width: 50%;
    height: 50%;
    margin-top: 50px;
}

.geocoder {
    left: 38%;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    top: 10px;
}

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
}

