#container {
    display:flex;
    background-color: honeydew;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}


.geocoder {
    left: 38%;
    margin: 0 auto;
    position: absolute;
    z-index: 1;
    width: 80%;
    top: 10px;
    }

.mapboxgl-ctrl-geocoder {
    min-width: 100%;
    }

#map {
    width: 80vw;
    height: 80vh;
    margin-top: 50px;
    }